.section-banner {
  --banner-bg: #8C1D2D;   /* vino */
  --cream: #faf8f0f6;       /* crema */
  --text: #ffffff;

  position: relative;
  background: var(--banner-bg);
  color: var(--text);
  border-top: 16px solid var(--cream);

  padding: 18px 24px;
  width: 100%;
  box-sizing: border-box;
  
}

.section-banner__inner {
  width: 100%;
}

.section-banner__title {
  margin: 0;
  font-size: 44px;
  font-weight: 550;
  line-height: 0.7;
}

.section-banner__subtitle {
  margin: 6px 0 0 0;
  font-size: 18px;
  opacity: 0.9;
}


.actividades-img{
  width: 100%;
  display: block;
  border-radius: 16px;
  border-top:26px solid #faf8f0f6;
}

.section-block {
  background: #fff;
  padding: 0 22px;   
  box-sizing: border-box;
  
}
